<ion-view title="Candidate Details" id="crdetails">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Enrollment</div>
        <div class="col col-60">{{data.enrollment_number}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Email</div>
        <div class="col col-60">{{data.email}}</div>
      </div>
    </div>

    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">First Name</div>
        <div class="col col-60">{{data.first_name}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Last Name</div>
        <div class="col col-60">{{data.last_name}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Aadhar Number </div>
        <div class="col col-60">{{data.adhar_no}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">C G P A </div>
        <div class="col col-60">{{data.cgpa}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Date Of Birth </div>
        <div class="col col-60">{{data.date_of_birth}}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item setlistbtm">
        <div class="col col-40">Fee Payment </div>
        <div class="col col-60">{{data.fee_payment}}</div>
      </div>
    </div>
    <div class="list ">
      <div class="row item setlistbtm">
        <div class="col col-40">Phone Number </div>
        <div class="col col-60">{{data.phone_no}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <button class="button button-positive button-block" ng-click="verifyDetails()">Verify</button>
      </div>
    </div>
  </ion-content>

</ion-view>
