<ion-view title="chatbot">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="row" style="height:100%;">
      <div class="col col-100">
        <iframe allow="microphone;" width="100%" height="100%"
          src="https://console.dialogflow.com/api-client/demo/embedded/f3ed69ca-a657-4691-9b76-857e75fd55b7">
        </iframe>
      </div>
    </div>
  </ion-content>
</ion-view>