<ion-view title="Cr Details" id="crdetails">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <!-- <label class="item item-input item-select">
      <div class="input-label">
        Select Option
      </div>

      <select ng-model="user.candidate">
        <option>cr candidate</option>
        <option>cr supporter</option>
      </select>
    </label> -->
    <div class="row item item-input marign-tp-10" id="venueEventEdit-input70">
      <div class="input-label col col-40">Enrollment No:</div>
      <div class="col col-50">
        <input type="number" placeholder="enrollment number" ng-model="user.enrollment_number">
      </div>
    </div>
    <div class="row item item-input" id="venueEventEdit-input70">
      <div class="input-label col col-40">First Name:</div>
      <div class="col col-50">
        <input type="text" placeholder="first name" ng-model="user.first_name">
      </div>
    </div>
    <div class="row item item-input" id="venueEventEdit-input70">
      <div class="input-label col col-40">Last Name:</div>
      <div class="col col-50">
        <input type="text" placeholder="last name" ng-model="user.last_name">
      </div>
    </div>
    <div class="row item item-input" id="venueEventEdit-input70">
      <div class="input-label col col-40">Semester:</div>
      <div class="col col-50">
        <input type="text" placeholder="semester" ng-model="user.semester">
      </div>
    </div>
    <!-- <div class="row item item-input" id="venueEventEdit-input70">
      <div class="input-label col col-40">Supporter Name:</div>
      <div class="col col-50">
        <input type="text" placeholder="semester" ng-model="user.supporter_name">
      </div>
    </div> -->
    <ion-checkbox class="bg-terms marign-tp-10" ng-model="user.selected" id="signup-checkbox1">I agree to terms and
      conditions</ion-checkbox>

    <!-- <div class="row">
      <div class="col col-100 textcenter">
        <button class="button button-positive set-input-border" ng-click="goToUploadDocumentPage()">
          upload document
        </button>
      </div>
    </div> -->
    <div class="row">
      <div class="col col-100 textcenter">
        <button class="button button-positive set-input-border set-btn-width" ng-disabled="user.selected === false || user.selected == undefined" ng-click="goToUploadDocumentPage(user)">
          Next
        </button>
      </div>
    </div>
    <!-- <div class="row item item-input">
      <div class="col col-40 input-label">Age Proof:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadAgeProof()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(AgeProofObj.ageProofPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row item item-input">
      <div class="col col-40 input-label">Residence Proof:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadResidenceProof()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(ResidenceProofObj.residenceProofPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row item item-input">
      <div class="col col-40 input-label">Fees receipt:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadFessReceipt()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(FessReceiptObj.fessReceiptPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row item item-input">
      <div class="col col-40 input-label">Recent mark Sheet:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadRecentMarkSheet()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(RecentMarkSheetObj.recentMarkSheetPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row item item-input">
      <div class="col col-40 input-label">H.S.C mark Sheet:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadHscMarkSheet()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(HscMarkSheetObj.hscMarkSheetPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row item item-input">
      <div class="col col-40 input-label">I card:</div>
      <div class="col col-60">
        <div class="row">
          <div class="col col-40 set-margin-top-17">
            <button class="btn fileUpload ion-ios-camera roundbutton " ng-click="UploadIcard()">
            </button>
          </div>
          <div class="col col-60">
            <img ng-src="{{trustSrc(IcardObj.IcardPhoto)}}" class="imgStyle">
          </div>
        </div>
      </div>
    </div>
    <div class="row set-margin">
      <div class="col col-100 textcenter">
        <button class="button button-positive set-input-border set-btn-width" ng-click="submitUserDetails()">submit</button>
      </div>
    </div> -->

  </ion-content>
</ion-view>
