<ion-view title="Join Election" id="page24">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" padding="true">
    <h4>Enter the Code provided by your Host</h4>
    <div class="row item item-input" id="venueEventEdit-input70">
      <div class="input-label col col-50">Enter Election Code:</div>
      <div class="col col-50">
        <input type="number" placeholder="Election Code" ng-model="data.game_code" pattern="[0-9]*">
      </div>
    </div>
    <div class="row item item-input margin-btm-20" id="venueEventEdit-input70">
      <div class="input-label col col-50">Enrollment Number:</div>
      <div class="col col-50">
        <input type="text" placeholder="Enrollment Number" ng-model="data.number" ng-disabled="data.number">
      </div>
    </div>
    <button class="button button-positive button-block set-btn-position " id="newWineList-button16"
      ng-click="joinGame(data)">Join
      Election</button>

    <!-- <button class="btn fileUpload ion-ios-camera roundbutton">
      <input type="file" file-model="uploadSheet" class="upload">
    </button> -->
  </ion-content>
</ion-view>
