<ion-view hide-nav-bar="true" id="login">

  <ion-content>
    <div class="row">
      <div class="col col-100 textcenter" ng-click="subAdminLogin()">
        <img src="../img/digilyceumlogo.jpg" width="300" height="300">
      </div>
    </div>
    <div class="row" ng-if="subAdmin == false && enterOtp == false">
      <div class="col col-100">
        <label class="item item-input set-input-border">
          <input type="tel" placeholder="enrollment number" maxlength="12" ng-model="user.enrollment_number">
        </label>
      </div>
    </div>
    <div class="row" ng-if="subAdmin == true ">
      <div class="col col-100">
        <label class="item item-input set-input-border">
          <input type="text" placeholder="UserName" ng-model="user.user_name">
        </label>
      </div>
    </div>
    <div class="row" ng-if="subAdmin == false && enterOtp == false">
      <div class="col col-100">
        <label class="item item-input set-input-border">
          <input type="password" placeholder="password" ng-model="user.password">
        </label>
      </div>
    </div>
    <div class="row" ng-if="enterOtp == true">
      <div class="col col-100">
        <label class="item item-input set-input-border">
          <input type="number" placeholder="Enter otp" ng-model="user.code">
        </label>
      </div>
    </div>
    <div class="row" ng-if="subAdmin == false && enterOtp == false">
      <div class="col col-100">
        <button class="button button-positive button-block set-input-border" id="login-button9"
          ng-click="loginwithEmail(user)">login</button>
      </div>
    </div>
    <div class="row" ng-if="subAdmin == false && enterOtp == false">
      <div class="col col-100 textcenter">
        <p ng-click="goToSignUpPage()">Don’t have an account?
          <a data-popup=".popup-register" class="open-popup">Sign Up</a>
        </p>
      </div>
    </div>
    <div class="row" ng-if="subAdmin == true">
      <div class="col col-100">
        <button class="button button-positive button-block set-input-border" id="login-button9"
          ng-click="loginwithOtp(user)">login using otp </button>
      </div>
    </div>
    <div class="row" ng-if="enterOtp == true">
      <div class="col col-100">
        <button class="button button-positive button-block set-input-border" id="login-button9"
          ng-click="verifyOtp(user)">login</button>
      </div>
    </div>


  </ion-content>
</ion-view>