<ion-view title="Pending List" id="crdetails">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">

    <div class="row" ng-if="pendingList.length >0">
      <div class="col col-70">Enrollment Number</div>
      <div class="col col-30">Semester</div>
    </div>

    <div class="list" ng-if="pendingList.length >0" >
      <div class="row item" ng-repeat="list in pendingList" ng-click="goToCandidatePage(list.$id)">
        <div class="col col-70">{{list.$id}}</div>
        <div class="col col-30">{{list.semester}}</div>
      </div>
    </div>
    <div ng-if="pendingList.length == 0" class="textcenter">
       Don't Have Any Request
    </div>
  </ion-content>
</ion-view>
