<ion-view title="Assign SubAdmin">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="row">
      <div class="col col-100 ">
        <label class="item item-input item-select">
          <div class="input-label">
            branch
          </div>
          <select ng-model="user.branch" ng-change="getFacultyData(user.branch)">
            <option>Chemical Engineering</option>
            <option>Civil Engineering</option>
            <option>Computer Engineering</option>
            <option>Information Technology</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row item item-input" ng-if="!!facultyData" ng-repeat="data in facultyData">
      <div class="col col-20 input-label set-icon-size">
        <i class="icon ion-person set-host-view-size"></i>
      </div>
      <div class="col col-60">
        {{data.faculty_name}}
      </div>
      <div class="col col-20">
          <ion-checkbox class="set-border-none" ng-model="selectFaculty[$index]"></ion-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
          <button class="button button-positive button-block" ng-disabled="facultyData == undefined" ng-click="sendUserName()">Send</button>
      </div>
    </div>
  </ion-content>
</ion-view>
